// Background Colors
$color-bg-dark: #000;
$color-bg-light: #fff;
$color-bg-orderbook: #131B29;
$color-bg-hover: #1E3059;
$color-bg-price-neutral: rgba(134, 152, 170, 0.12);
$color-bg-buy: rgba(16, 186, 104, 0.12);
$color-bg-buy-animation: rgba(0, 177, 93, 0.5);
$color-bg-sell: rgba(255, 90, 90, 0.12);
$color-bg-sell-animation: rgba(255, 91, 90, 0.5);

// Text Colors
$color-text-primary: #2d3136;
$color-text-light: #F0F4F8;
$color-text-muted: #8698aa;
$color-buy: #00B15D;
$color-sell: #FF5B5A;
